@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 8%;
  height: 10vh;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 31%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  width: 70%;
}

.left ul li a {
  color: #9e9aa7;
  text-decoration: none;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 180px;
}

.right a {
  text-decoration: none;
}

.right a:nth-child(1) {
  color: #9e9aa7;
}

.right a:nth-child(2) {
  color: #fff;
  padding: 5px 13px;
  border-radius: 30%;
  background: #2acfcf;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 8%;
}

.lefty {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lefty h1 {
  font-weight: 700;
  font-size: 4rem;
  margin: 0;
  line-height: 70px;
}

.lefty p {
  margin: 0;
  color: #9e9aa7;
}

.righty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50%;
}

.righty img {
  width: 400px;
  height: 320px;
}

.link {
  margin-top: 30px;
}

.link a {
  background: #2acfcf;
  border-radius: 35%;
  color: #fff;
  padding: 8px 20px;
  text-decoration: none;
}

.linkshortener {
  padding: 20px 8%;
}

.main {
  border-radius: 5px;
  background: #35323e;
  width: 100%;
  height: 100px;
  background-image: url(images/bg-shorten-desktop.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main input {
  width: 60%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

.main input::-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
}

.main input:-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
}

.main input::-ms-input-placeholder {
  font-family: 'Poppins', sans-serif;
}

.main input::placeholder {
  font-family: 'Poppins', sans-serif;
}

.main input:focus {
  outline: none;
}

.main button {
  width: 100px;
  padding: 13px;
  background: #2acfcf;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
}

.main button:focus {
  outline: none;
}

.links {
  padding: 20px 8%;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 5%;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), 1px 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), 1px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-animation: appear 1.5s;
          animation: appear 1.5s;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mainlink {
  width: 40%;
  overflow: hidden;
}

.maininfo {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.maininfo button {
  background: #2acfcf;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 17px;
  border-radius: 3px;
}

.maininfo button:focus {
  outline: none;
}

@media (max-width: 1323px) {
  .left {
    width: 40%;
  }
}

@media (max-width: 1051px) {
  .left {
    width: 45%;
  }
}

@media (max-width: 973px) {
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .lefty {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .righty {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

@media (max-width: 964px) {
  .left {
    width: 55%;
  }
}

@media (max-width: 767px) {
  .left {
    width: 65%;
  }
}

@media (max-width: 674px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left {
    width: 90%;
  }
}

@media (max-width: 470px) {
  .left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .left h1 {
    margin: 0;
  }
  .left ul {
    margin: 5px 0px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  nav {
    height: 10vh;
  }
  .linkshortener {
    padding: 0;
    margin-top: 10px;
  }
  .links {
    padding: 0;
    height: 30px;
  }
  .box {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro {
    padding: 0;
  }
  .intro img {
    z-index: -1;
  }
  .mainlink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .maininfo {
    width: 100%;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}